@media (min-width: 1366px ) and (max-width: 1919px) { /*1366x768*/
    .header {
        height: 0!important;
    }

    .nama {
        /* font-size: 45px; */
        font-weight: 900;
    }

    .kiri {
        padding-top: 20px;
    }

    .kanan {
        padding-top: 15px;
    }

    .jam {
        font-size: 70px;
        font-weight: 900;
        letter-spacing: 20px;
    border-radius: 5px;
    /* text-shadow: 0 0 10px #fff, 0 0 20px #ffb700; */
    }

    .hari {
        font-size: 24px;
        font-weight: 600;
    }

    .tanggal_masehi {
        font-size: 24px;
        font-weight: 600;
    }
    .tanggal_hijriah {
        font-size: 24px;
        font-weight: 600;
    }

    .alamat {
        font-size: 24px;
    }

    .waktu-shalat > h1 {
        padding-bottom: 10px;
        margin-top: -5px;
        font-size: 60px;
        font-weight: 900 !important;
        text-shadow: -2px 2px 2px #000;
        letter-spacing: 5px;
        background: linear-gradient(to right, #000000, #146669);
    }

    .waktu-shalat > h2 {
        letter-spacing: 5px;
        background: linear-gradient(to right, #000000, #b87f23);
        text-shadow: -2px 2px 2px #000;
        padding-top: 10px;
        font-size: 30px;
        font-weight: 600 !important;
        /*color: #000000; text-shadow: -0.5px 0 #000000, 0 0.5px #000000, 0.5px 0 #000000, 0 -0.5px #000000;*/
    }

    .waktu-shalat-b {
        margin-bottom: -8px;
    }

    .running-text {
        max-height: 60px; 
        font-size: 37px;
        font-weight: 400;
        width: 100%;
    }

    .content {
        margin-top: 140px;
        margin-left: 80px;
        margin-right: 80px;
        flex: 1;
        overflow: hidden;
        text-align: center;
        /*font-weight: 600;*/
        /*color: white; text-shadow: 3px 0 black, 0 3px black, 3px 0 black, 0 3px black;*/
    }

    div.slide > h1 {
        font-size: 65px;
        line-height: 1.3;
    }

    div.slide > p {
        font-size: 44px;
        font-weight: 900;
    }

    /*countdown*/
    div.countdown-header > h1.cd-header-text {
        color: #f6f7f8;
        font-size: 60px;
        font-weight: 600;
        -webkit-text-stroke: 1px blue;
    }

    .countdown-body {
        font-size: 230px;
        font-weight: 900;
        color: #FF0000;
    }

    .countdown-footer {
        font-size: 40px;
        padding-left: 25px;
        padding-right: 25px;
       -webkit-text-stroke: 1px red;
    }
    /* end countdown*/

    /* jadwal imam */
    .fs-general, .fs-jumat {
        max-height: 70px;
    }

    .today-imam-head, .tomorrow-imam-head, .imam-head-terbit, .ket-head {
        padding-top: 5px;
        margin-bottom: -5px;
        font-size: 25px!important;
    }

    .imam-body, .ket-body {
        font-size: 20px!important;
        font-weight: 600;
    }

    p.imam-body {
        padding: 18px;
    }

    .kajian {
        padding-top: 10px;
        margin-bottom: -10px;
    }

    .kaj-ket-ust {
        font-size: 25px;
    }

    .kaj-ket-materi {
        font-size: 20px;
    }

    .kaj-ket-waktu {
        font-size: 20px;
    }
}